/*Color Pallette: https://colorhunt.co/palette/30afff92eeffd8ffc5c4f7ca*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
}

h2{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    background-color: #92EEFF;
}

h3{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    padding: 5px;
    background-color: #C4F7CA;
}

p{
    font-family: 'Inter', sans-serif;
    margin: 10px;
    font-size: 18px;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 25px;
    background-color: #30AFFF;
}

button{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #30AFFF;
}

li{
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

ul{
    padding: 25px;
}

#title-container{
    margin: 5px;
}

#date-container{
    margin: 5px;
}

.content-container{
    background-color: #D8FFC5;
}



.proj-link{
    font-size: 20px;
}

#about-me-container{
    display: flex;
    flex-direction: row;
    justify-content: center; /*this is the y axis*/
    align-items: center; /*this is the x axis because we're in a row and that's the main axis*/
}

#headshot{
    border-radius: 50%;
    height: 350px;
    margin: 50px;
} 

#about-me-description{
    text-align: center;
    margin: 5px;
    padding: 50px;
}

#about-me-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.proj{
    padding: 50px;
}

.proj-screenshot{
    width: 35%;
    margin: 50px;
}

.proj-button{
    width: 150px;
    height: 50px;
    margin: 5px;
}

.proj-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}


.proj-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-link{
    text-align: center;
}

.proj-description{
    align-self: flex-start; /*aligns the p tag to the very beginning of the container's cross axis. so because the p tags are in a column flex box, the cross axis is the x axis, and thus the text stays aligned to the "start" of that which would be the left*/
}

.proj-button{
    margin: 15px;
}

/*resume.html*/

#resume{
    align-self: center;
    height: 95vh;
    width: 100vw;
}

#resume-header{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-button{
    background-color: #92EEFF;
}



#class-container{
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



#skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
